<!DOCTYPE html>
<html>
  <head>
    <title>Ganttview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500;6..12,700&display=swap" %>
    <%= tag :link, rel: "preconnect", href: "https://fonts.googleapis.com" %>
    <%= tag :link, rel: "preconnect", href: "https://fonts.gstatic.com", crossorigin: true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>
  
    <main class="container mx-auto mt-12 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
